*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #c9c99f;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: rgba(0, 0, 0, 0.6);

}
.page1{
    min-height: 100vh;
    width: 100vw;
}
#nav{
    height: 55px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav img{
    height: 24px;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav #nav-part3 #cricle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffff;
}
#nav h4{
    font-size: 14px;
    text-transform:  uppercase;
    font-weight: 600;
}
#nav h4:nth-child(1){
     text-decoration: underline;
}
.page1 h1{
    font-size: 7vw;
    font-weight: 325;
    font-family: PP mori;
    margin-top: 12vw;
    margin-left: 10vw;
}
.page1 h2{
    font-size: 7vw;
    font-weight: 325;
    font-family: PP mori;
    margin-left: 26vw;
}
.page1 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}